<div class="ui attached inverted menu">
    <div class="ui container" main-menu>
    </div>
</div>
<div [ngStyle]="bg_style">
</div>
    <div class="ui grid">
        <div class="two column row">
            <div class="three wide column">
            </div>
            <div class="column">
                <simple-notifications [options]="options"></simple-notifications>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="two column row">
            <div class="three wide column">
                <div categories></div>
            </div>
            <div class="column">
                <div class="container">
                    <div notification></div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
