<h1>{{title}}</h1>
<div *ngIf="is_logged.dbox === 0">
<button class="ui labeled primary icon button" (click)="loginDbox()">
    <i class="cloud icon"></i>
    login with dropbox
</button><br/><br/>
</div>
<div *ngIf="is_logged.dbox === 1">
<button class="ui labeled red icon button" (click)="logoutDbox()">
    <i class="cloud icon"></i>
    logout from dropbox
</button><br/><br/>
</div>

<!--
<button class="ui labeled primary icon button" (click)="loginDbox()">
    <i class="cloud icon"></i>
    login with google drive
</button><br/><br/>
<button class="ui labeled primary icon button" (click)="loginDbox()">
    <i class="cloud icon"></i>
    login with box
</button>
-->
