<div class="ui left vertical pointing inverted fluid menu" *ngIf="current_type">
    <div class="item">
        <div class="ui grid">
            <div class="two column row">
                <div class="twelve wide column">
                    Categories:
                </div>
                <div class="four wide column">
                    <button class="ui icon button" (click)="editMode();">
                        <i class="edit icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui input" *ngIf="!category">
            <input
            type="text"
            #category_name
            placeholder="New category name"
            (keyup.enter)="add(category_name.value); category_name.value=''"
            >
            <button class="ui icon button" (click)="add(category_name.value); category_name.value=''">
                <i class="plus icon"></i>
            </button>
        </div>
        <div class="ui input" *ngIf="category">
            <input
            type="text"
            focus="true"
            #new_name
            [value]="category.name"
            (keyup.enter)="save(category.id, new_name.value); new_name.value=''"
            >
            <button class="ui icon button" (click)="save(category.id, new_name.value); new_name.value=''">
                <i class="checkmark icon"></i>
            </button>
            <button class="ui icon button" (click)="cancel();">
                <i class="remove icon"></i>
            </button>
        </div>
    </div>
    <div *ngFor="let item of categories">
        <a
        [class]="item.id === selected_category_id ? 'item active' : 'item'"
        routerLink="/{{current_type}}/{{item.id}}"
        (dblclick)="edit(item.id);">
            <div class="ui label" *ngIf="type!=='notes'">
                {{item.cnt}} / {{item.acnt}}
            </div>
            <div class="ui label" *ngIf="type==='notes'">
                {{item.cnt}}
            </div>
            {{item.name}}
        </a>
        <div *ngIf="edit_mode">
            <div class="ui icon button" (click)="edit(item.id);">
                <i class="edit icon"></i>
            </div>
            <div class="ui icon button" (click)="changePriorItem(item.id, 1);">
                <i class="angle up icon"></i>
            </div>
            <div class="ui icon button" (click)="changePriorItem(item.id, 0);">
                <i class="angle down icon"></i>
            </div>
            <div class="ui icon button" (click)="remove(item.id);">
                <i class="remove icon"></i>
            </div>
        </div>
    </div>
</div>
