<h1>{{title}}</h1>
<div class="ui basic floating dropdown button">
    <div class="text" (click)="exportData()">Export to txt</div>
</div>
<br/>
<br/>
<div class="ui basic floating dropdown button">
    <div class="text" (click)="exportToDbox()">Export to dropbox <i class="cloud icon"></i></div>
</div>
