<h1>{{title}}</h1>
Open exported file: <input type="file" (change)="importFile($event)" ngfile/>
<table class="ui very basic collapsing celled table" *ngIf="file_info">
    <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{file_info.name}}
            </td>
        </tr>
        <tr>
            <td>
                Size
            </td>
            <td>
                {{file_info.size}}
            </td>
        </tr>
        <tr>
            <td>
                Type
            </td>
            <td>
                {{file_info.type}}
            </td>
        </tr>
        <tr>
            <td>
                Last time modification
            </td>
            <td>
                {{file_info.last | date:'d/M/y H:m:s'}}
            </td>
        </tr>
        <tr>
            <td>
                Import?
            </td>
            <td>
                <div class="ui basic floating dropdown button">
                    <div class="text" (click)="import(file_info.handler)">Import</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br/>
<br/>
<div class="ui basic floating dropdown button">
    <div class="text" (click)="importDbox()">Get file list from Dropbox <i class="cloud icon"></i></div>
</div>
<table class="ui very basic collapsing celled table" *ngIf="file_list">
    <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>
                Size
            </td>
            <td>
                Last time modification
            </td>
            <td>
                Import?
            </td>
        </tr>
        <tr *ngFor="let file of file_list">
            <td>
                {{file.name}}
            </td>
            <td>
                {{file.size | fileSize}}
            </td>
            <td>
                {{file.client_modified | date:'d/M/y H:m:s'}}
            </td>
            <td>
                <div class="ui basic floating dropdown button">
                    <div class="text" (click)="importDbox(file.id)">Import</div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
