<h1>{{title}}</h1>
<div [class]="transfer_modal ? 'ui active small modal' : 'ui small modal'" style="top:0px;">
    <i class="close icon"></i>
    <div class="header">
        Choose category
    </div>
    <div class="image content">
        <div class="description menu">
            <div class="ui header">Category list</div>
            <div class="ui left vertical menu">
                <a
                *ngFor="let cat of cats"
                [class]="cat.id === transfer_cat_id ? 'item active' : 'item '"
                (click)="chooseCategory(cat.id);"
                (dblclick)="transfer(transfer_item_id, transfer_cat_id);">
                    <p>{{cat.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="cancelTransfer();">
            Nope
        </div>
        <div class="ui positive right labeled icon button" (click)="transfer(transfer_item_id, transfer_cat_id);">
            Yep, transfer task
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div *ngIf="selected_category">
    <div class="ui horizontal divider">
        List for "{{selected_category.name}}"
    </div>
    <div class="ui mini list">
        <div class="item">added: {{selected_category.create_date | date:'d/M/y H:m:s'}}</div>
        <div class="item">updated: {{selected_category.update_date | date:'d/M/y H:m:s'}}</div>
    </div>
    <div class="ui grid">
        <div class="two column row">
            <div class="twelve wide column">
                <div class="ui basic floating dropdown button" *ngIf="!item && !add_or_edit">
                    <div class="text" (click)="showAdd();">Add new entry [shift+a]</div>
                </div>
                <div class="ui right action left icon input" *ngIf="!item && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <label>Entry</label>
                            <textarea
                            #entry_text
                            focus="true"
                            rows="4"
                            cols="60"
                            (keydown.control.enter)="addItem(entry_text.value); entry_text.value=''"
                            ></textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="addItem(entry_text.value); entry_text.value=''">Create [ctrl+enter]</div>
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
                <div class="ui right action left icon input" *ngIf="item && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <label>Entry</label>
                            <textarea
                            #new_value
                            focus="true"
                            [value]="item.text"
                            rows="4"
                            cols="60"
                            (keydown.control.enter)="saveItem(item, new_value.value);"
                            ></textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="saveItem(item, new_value.value);">Save [ctrl+enter]</div>
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui right icon input">
                    Order by:
                    <select
                    name="gender"
                    class="ui dropdown"
                    id="select"
                    [value]="order_by"
                    (change)="orderChange($event.target.value)">
                        <option *ngFor="let order of orders | keys" value="{{order.key}}">{{order.value}}</option>
                    </select>
                    <button class="ui icon button" (click)="reorder('new')">
                        <i class="chevron {{order_type === 'ASC' ? 'down' : 'up'}} icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segments">
        <div *ngFor="let entry of items" class="ui raised segment" (dblclick)="editItem(entry.id);">
            <div class="ui grid">
                <div class="two column row">
                    <div class="twelve wide column">
                        <h4 class="ui header" [innerHTML]="entry.text"></h4>
                    </div>
                    <div class="four wide column">
                        <button class="ui primary icon button" (click)="editItem(entry.id);">
                            <i class="edit icon"></i>
                        </button>
                        <button class="ui positive icon button" (click)="zipItem(entry.id);">
                            <i class="archive icon"></i>
                        </button>
                        <button class="ui icon button" (click)="changePriorItem(entry.id, 1);">
                            <i class="chevron up icon"></i>
                        </button>
                        <button class="ui icon button" (click)="changePriorItem(entry.id, 0);">
                            <i class="chevron down icon"></i>
                        </button>
                        <button class="ui icon button" (click)="transfer(entry.id);">
                            <i class="chevron right icon"></i>
                        </button>
                        <button class="ui negative icon button" (click)="removeItem(entry.id, 0);">
                            <i class="remove icon"></i>
                        </button>
                    </div>
                </div>
                <div class="twelve wide column">
                    <!--tags placeholder-->
                </div>
                <div class="four wide column">
                    <div class="ui mini list">
                        <div class="item">added: {{entry.create_date | date:'d/M/y H:m:s'}}</div>
                        <div class="item">updated: {{entry.update_date | date:'d/M/y H:m:s'}}</div>
                        <div class="item">prior: {{entry.prior}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
