<a routerLink="{{main_link.url}}" class="header item">
    <img class="logo" src="assets/images/logo.png">
    Tasteless Notes
</a>
<a *ngFor="let link of links" routerLink="{{link.url}}" class="item">{{link.text}}</a>
