<h1>{{title}}</h1>
<div *ngIf="selected_category">
    <div class="ui horizontal divider">
        Notes for "{{selected_category.name}}"
    </div>
    <div class="ui mini list">
        <div class="item">added: {{selected_category.create_date | date:'d/M/y H:m:s'}}</div>
        <div class="item">updated: {{selected_category.update_date | date:'d/M/y H:m:s'}}</div>
    </div>
    <div class="ui grid">
        <div class="two column row">
            <div class="twelve wide column">
                <div class="ui basic floating dropdown button" *ngIf="!item && !add_or_edit">
                    <div class="text" (click)="showAdd();">Add new note [shift+a]</div>
                </div>
                <div class="ui right action left icon input" *ngIf="!item && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <input
                            type="text"
                            #title
                            placeholder="Title"
                            (keydown.control.enter)="addItem(title.value, text.value); title.value=''; text.value=''"
                            >
                        </div>
                        <div class="field">
                            <label>Text</label>
                            <textarea
                            #text
                            rows="4"
                            cols="60"
                            (keydown.control.enter)="addItem(title.value, text.value); title.value=''; text.value=''"
                            ></textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="addItem(title.value, text.value); title.value=''; text.value=''">Create [ctrl+enter]</div>
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
                <div class="ui right action left icon input" *ngIf="item  && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <input
                            type="text"
                            #new_title
                            [value]="item.title"
                            placeholder="Title"
                            (keydown.control.enter)="saveItem(item, new_title.value, new_text.value);"
                            >
                        </div>
                        <div class="field">
                            <label>Text</label>
                            <textarea
                            #new_text
                            rows="4"
                            cols="60"
                            placeholder="Note text"
                            (keydown.control.enter)="saveItem(item, new_title.value, new_text.value);"
                            >{{item.text}}</textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="saveItem(item, new_title.value, new_text.value);">Save [ctrl+enter]</div>
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui right icon input">
                    Order by:
                    <select name="gender" class="ui dropdown" id="select">
                        <option value="create_date">Create date</option>
                    </select>
                    <button class="ui icon button" (click)="reorder()">
                        <i class="angle {{order_type === 'ASC' ? 'down' : 'up'}} icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segments">
        <div *ngFor="let note of items" class="ui segment" (dblclick)="editItem(note.id);">
            <div class="ui grid">
                <div class="twelve wide column">
                    <h4>{{note.title}}</h4>
                </div>
                <div class="four wide column">
                    <button class="ui primary icon button" (click)="editItem(note.id);">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui negative icon button" (click)="removeItem(note.id, 0);">
                        <i class="remove icon"></i>
                    </button>
                </div>
                <div class="twelve wide column">
                    <p [innerHTML]="note.text"></p>
                </div>
                <div class="ui mini list">
                    <div class="item">added: {{note.create_date | date:'d/M/y H:m:s'}}</div>
                    <div class="item">updated: {{note.update_date | date:'d/M/y H:m:s'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
