<h1>{{title}}</h1>
<div class="ui segments">
    <div class="ui raised segment">
        <div class="ui form">
            <div *ngFor="let value of values | keys" class="field inline">
                <label>{{value.key}}</label>
                <input
                type="text"
                #settings_value
                [value]="value.value"
                >
                <div class="ui button">
                    <div class="text" (click)="save(value.key, settings_value.value);">Save</div>
                </div>
            </div>
            <div class="ui button">
                <div class="text" (click)="truncate();">Truncate settings</div>
            </div>
        </div>
    </div>
</div>
