<h1>{{title}}</h1>
<div [class]="transfer_modal ? 'ui active small modal' : 'ui small modal'" style="top:0px;">
    <i class="close icon"></i>
    <div class="header">
        Choose category
    </div>
    <div class="image content">
        <div class="description menu">
            <div class="ui header">Category list</div>
            <div class="ui left vertical menu">
                <a
                *ngFor="let cat of cats"
                [class]="cat.id === transfer_cat_id ? 'item active' : 'item '"
                (click)="chooseCategory(cat.id);"
                (dblclick)="transfer(transfer_item_id, transfer_cat_id);">
                    <p>{{cat.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" (click)="cancelTransfer();">
            Nope
        </div>
        <div class="ui positive right labeled icon button" (click)="transfer(transfer_item_id, transfer_cat_id);">
            Yep, transfer task
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div *ngIf="selected_category">
    <div class="ui horizontal divider">
        Tasks for "{{selected_category.name}}"
    </div>
    <div class="ui mini list">
        <div class="item">added: {{selected_category.create_date | date:'d/M/y H:m:s'}}</div>
        <div class="item">updated: {{selected_category.update_date | date:'d/M/y H:m:s'}}</div>
    </div>
    <div class="ui grid">
        <div class="two column row">
            <div class="twelve wide column">
                <div class="ui basic floating dropdown button" *ngIf="!item && !add_or_edit">
                    <div class="text" (click)="showAdd();">Add new task [shift+a]</div>
                </div>
                <div class="ui right action left icon input" *ngIf="!item && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <label>Task</label>
                            <textarea
                            #task
                            focus="true"
                            rows="4"
                            cols="60"
                            (keydown.control.enter)="addItem(task.value); task.value=''"
                            ></textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="addItem(task.value); task.value=''">Create [ctrl+enter]</div>
                        </div>

                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
                <div class="ui right action left icon input" *ngIf="item && add_or_edit">
                    <div class="ui form">
                        <div class="field">
                            <label>Task</label>
                            <textarea
                            #new_value
                            focus="true"
                            [value]="item.text"
                            rows="4"
                            cols="60"
                            (keydown.control.enter)="saveItem(item, new_value.value);"
                            ></textarea>
                        </div>
                        <div class="field">
                            <label>Parse urls?</label>
                            <input type="checkbox" [checked]="parse_urls" (click)="toggleParse();">
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="saveItem(item, new_value.value);">Save [ctrl+enter]</div>
                        </div>
                        <div class="ui basic floating dropdown button">
                            <div class="text" (click)="cancelItemEdit();">Cancel [ctrl+shift+z]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui right icon input">
                    Order by:
                    <select
                    name="gender"
                    class="ui dropdown"
                    id="select"
                    [value]="order_by"
                    (change)="orderChange($event.target.value)">
                    <option *ngFor="let order of orders | keys" value="{{order.key}}">{{order.value}}</option>
                </select>
                <button class="ui icon button" (click)="reorder('new')">
                    <i class="chevron {{order_type === 'ASC' ? 'down' : 'up'}} icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="ui segments">
    <div *ngFor="let task of items" class="ui raised segment" (dblclick)="editItem(task.id);">
        <div class="ui grid">
            <div class="two column row">
                <div class="twelve wide column">
                    <h4 class="ui header" [innerHTML]="task.text"></h4>
                </div>
                <div class="four wide column">
                    <button class="ui positive icon button" (click)="complete(task.id);">
                        <i class="checkmark icon"></i>
                    </button>
                    <button class="ui primary icon button" (click)="editItem(task.id);">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui icon button" (click)="changePriorItem(task.id, 1);">
                        <i class="chevron up icon"></i>
                    </button>
                    <button class="ui icon button" (click)="changePriorItem(task.id, 0);">
                        <i class="chevron down icon"></i>
                    </button>
                    <button class="ui icon button" (click)="transfer(task.id);">
                        <i class="chevron right icon"></i>
                    </button>
                    <!--<button class="ui icon button" (click)="createSubItem(task.id);">
                        <i class="browser icon"></i>
                    </button>-->
                    <button class="ui negative icon button" (click)="removeItem(task.id, 0);">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </div>
            <div class="twelve wide column">
                <!--tags placeholder-->
            </div>
            <div class="four wide column">
                <div class="ui mini list">
                    <div class="item">added: {{task.create_date | date:'d/M/y H:m:s'}}</div>
                    <div class="item">updated: {{task.update_date | date:'d/M/y H:m:s'}}</div>
                    <div class="item">prior: {{task.prior}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="ui button" (click)="showSecondItems();">
    {{show_second ? "hide" : "show"}} comleted
</button>
<div *ngIf="second_items.length && show_second">
    <div class="ui horizontal divider">
        Completed tasks of "{{selected_category.name}}"
    </div>
    <div class="ui right icon input">
        Order by:
        <select name="gender" class="ui dropdown" id="select">
            <option value="create_date">Create date</option>
        </select>
        <button class="ui icon button" (click)="reorder('complited')">
            <i class="chevron down icon"></i>
        </button>
    </div>
    <div class="ui segments">
        <div *ngFor="let completedItem of second_items" class="ui segment">
            <div class="ui grid">
                <div class="twelve wide column">
                    <h4 class="ui header" [innerHTML]="completedItem.text"></h4>
                </div>
                <div class="four wide column">
                    <button class="ui secondary icon button" (click)="undo(completedItem.id);">
                        <i class="archive icon"></i>
                    </button>
                    <button class="ui negative icon button" (click)="removeItem(completedItem.id, 1);">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui mini list">
                <div class="item">added: {{completedItem.create_date | date:'d/M/y H:m:s'}}</div>
                <div class="item">updated: {{completedItem.update_date | date:'d/M/y H:m:s'}}</div>
            </div>
        </div>
    </div>
</div>
</div>
